.app {
	width: 500px;
	margin: 30px auto;
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.app__header,
.app__body {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
}

.base-value {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.base-value__input {
	border: 0;
	border-bottom: 1px solid;
	font-size: 20px;
	width: 100px;
}

.base-value h2 {
	margin-bottom: 0;
}

.list {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}

.list:last-child {
	margin-bottom: 20px;
}

.list__top {
	display: flex;
	justify-content: space-between;
}

.list__bottom {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.list__bottom .info {
	display: flex;
	flex-direction: column;
}

.form {
	margin-top: 20px;
}

.form__input {
	width: 80%;
}

.form__button {
	width: 20%;
}